/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0 0 100px;
}
#footer {
	
  position:fixed;
  left:0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height:60px;
  background-color: 
  rgb(0,0,0);
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

